#historyContainer{
    background-image: url("../pictures/CT_SkillTest_v323.jpeg");
    background-position: 5% 10%;
    height:800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history {
    top: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  
  .historyText {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
  }
  
  .navItem > a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  
  #sectionNumber {
    color: #414f6b;
    opacity: 50%;
    font-size: 9vw;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    letter-spacing: -0.2vw;
  }
  
  #sectionTitle {
    align-self: flex-end;
    color: #414f6b;
    font-size: 2vw;
    font-family: "Oswald", sans-serif;
    margin-left: -1.7vw;
    margin-bottom: 4vw;
  }
  
  .sectionText {
    align-self: center;
    width: 85%;
    font-size: 1vw;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: black;
    line-height: 1.5vw;
  }

  .container{
    background-image: url(../pictures/CT_SkillTest_v314.jpeg);
    background-size: contain;
    opacity: 0.8;
    width: 100%;
    height:230px;
  }

  .carousel-inner{
    justify-content: center;
    align-items: center;
    margin-left: 42%;
    opacity: 1;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .carousel-indicators{
    justify-content: baseline;
    position: absolute;
    bottom: -20px;
  }
  